.box{
    position:relative;
    border-radius:3px;
    background:#ffffff;
    border-top:3px solid #d2d6de;
    margin-bottom:20px;
    width:100%;
    box-shadow:0 1px 1px rgba(0,0,0,0.1)
}

.box-body{
    max-height:300px;
    overflow:auto
}

.box-body:before,.box-footer:before,.box-header:after,.box-body:after,.box-footer:after{
    content:" ";display:table
}
.box-header:after,.box-body:after,.box-footer:after{
    clear:both
}
.box-header{
    color:#444;display:block;padding:10px;position:relative
}
.box-header.with-border{
    border-bottom:1px solid #f4f4f4
}
.collapsed-box .box-header.with-border{
    border-bottom:none
}
.box-header>.fa,.box-header>.glyphicon,.box-header>.ion,.box-header .box-title{
    display:inline-block;font-size:18px;margin:0;line-height:1
}
.box-header>.fa,.box-header>.glyphicon,.box-header>.ion{
    margin-right:5px
}
.box-header>.box-tools{
    position:absolute;right:10px;top:5px
}
.box-header>.box-tools [data-toggle="tooltip"]{
    position:relative
}
.box-header>.box-tools.pull-right .dropdown-menu{
    right:0;left:auto
}
.btn-box-tool{
    padding:5px;font-size:12px;background:transparent;color:#97a0b3
}
.open .btn-box-tool,.btn-box-tool:hover{
    color:#606c84
}
.btn-box-tool.btn:active{
    box-shadow:none
}
.box-body{
    border-top-left-radius:0;border-top-right-radius:0;border-bottom-right-radius:3px;border-bottom-left-radius:3px;padding:10px
}
.no-header .box-body{
    border-top-right-radius:3px;border-top-left-radius:3px
}
.box-body>.table{
    margin-bottom:0
}
.box-body .fc{
    margin-top:5px
}
.box-body .full-width-chart{
    margin:-19px
}
.box-body.no-padding .full-width-chart{
    margin:-9px
}
.box-body .box-pane{
    border-top-left-radius:0;border-top-right-radius:0;border-bottom-right-radius:0;border-bottom-left-radius:3px
}
.box-body .box-pane-right{
    border-top-left-radius:0;border-top-right-radius:0;border-bottom-right-radius:3px;border-bottom-left-radius:0
}
.box-tools{
    position:absolute;right:10px;top:5px
}
.box-header>.box-tools [data-toggle="tooltip"]{
    position:relative
}
.box-header>.box-tools.pull-right .dropdown-menu{
    right:0;left:auto
}
.btn-box-tool{
    padding:5px;font-size:12px;background:transparent;color:#97a0b3
}
.box-title{
    display:inline-block;font-size:18px;margin:0;line-height:1
}
.box-header>.fa,.box-header>.glyphicon,.box-header>.ion{
    margin-right:5px
}

/*three way mode switch*/
.switch-field {
    font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
    overflow: hidden;
}

.switch-field input {
    display: none;
}

.switch-field label {
    float: left;
    margin-bottom: 0px !important;
}

.switch-field label {
    display: inline-block;
    width: 80px;
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 6px 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition:    all 0.1s ease-in-out;
    -ms-transition:     all 0.1s ease-in-out;
    -o-transition:      all 0.1s ease-in-out;
    transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
    background-color: #23527c;
    color : #FFFFFF;
    font-weight : 700;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/*
.switch-field label:first-child {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-child {
    border-radius: 0 4px 4px 0;
}
*/
.retention-thead, .retention-date{
    background-color: #cfcfcf;
    font-weight: 700;
}

.days{
    cursor: pointer;
}